<form style="margin-bottom: 15px;" #createForm="ngForm">
    <div>
        <!--<md-input placeholder="Comment" required [(ngModel)]="record.comment" style="width: 100%;" ngControl="comment"></md-input>-->
        <input placeholder="Comment" required [(ngModel)]="record.comment" style="width: 100%;" ngControl="comment" />
    </div>
    <div style="margin-bottom: 15px;">
        <button *ngFor="let opt of options$ | async"
                type="button"
                style="margin-bottom: 7px; margin-right: 7px;"
                class="btn btn-default btn-sm"
                (click)="record.comment = opt">{{opt}}</button>
    </div>
    <div>
        <input placeholder="Volume" required [(ngModel)]="record.volume" style="width: 100%;" ngControl="volume" />
    </div>

    <button md-raised-button color="primary" (click)="addRecord(record)" [disabled]="!createForm.form.valid">ADD</button>
</form>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
    <caption class="text-right">
        <span class="pull-left">
            <input type="date" class="form-control input-sm" [(ngModel)]="fromDate" (ngModelChange)="load(fromDate)"/>
        </span>
         - {{outlay}} / + {{income}}
    </caption>
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Time</th>
            <th class="mdl-data-table__cell--non-numeric">Comment</th>
            <th>Volume</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of history">
            <td class="mdl-data-table__cell--non-numeric">{{record.createdAt | date:'yyyy/MM/dd HH:mm'}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{record.comment}}</td>
            <td>{{record.volume}}</td>
            <td (click)="deleteRecord(record)">[X]</td>
        </tr>
    </tbody>
</table>
