<form style="margin-bottom: 15px;">
    <div>
        <md-input placeholder="Comment" required [(ngModel)]="record.comment" style="width: 100%;"></md-input>
    </div>
    <div style="margin-bottom: 15px;">
        <button *ngFor="#opt of options$ | async"
                type="button"
                style="margin-bottom: 7px; margin-right: 7px;"
                class="btn btn-default btn-sm"
                (click)="record.comment = opt">{{opt}}</button>
    </div>
    <div>
        <md-input placeholder="Volume" required [(ngModel)]="record.volume" style="width: 100%;"></md-input>
    </div>

    <button md-raised-button color="primary" (click)="addRecord(record)">ADD</button>
</form>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-condensed">
            <caption class="text-right">
                <span class="pull-left">
                    <input type="date" class="form-control input-sm" [(ngModel)]="fromDate"/>
                </span>
                - {{outlay}} / + {{income}}
            </caption>
            <thead>
                <th>Time</th>
                <th>Comment</th>
                <th>Volume</th>
            </thead>
            <tbody>
                <tr *ngFor="#record of history">
                <td>{{record.createdAt | date:'yyyy/MM/dd HH:mm'}}</td>
                <td>{{record.comment}}</td>
                <td>{{record.volume}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
